@media screen and (min-width: 992px) {
  .fa-search {
    visibility: hidden;
  }
  #logo-booki {
    margin-top: 65px;
  }
  /*top-navigation-buttons*/
  header img {
    width: 50px;
    height: 25px;
    margin-left: 50px;
    margin-top: 45px;
  }

  header {
    display: flex;
    justify-content: space-between;
    margin-top: -34.23px;
  }

  header .nav-flex {
    padding: 36px;
    margin-right: 35px;
    border-top: solid 1.5px transparent;
  }
  header .nav-flex:hover {
    border-top: solid 1.5px #0065fc;
    color: #0065fc;
  }
  form {
    display: flex;
  }
  header nav h3 {
    display: flex;
  }
  nav {
    display: flex;
    justify-content: flex-end;
    justify-content: space-between;
    margin-top: 15px;
  }
  .cities-search-bar {
    margin-left: 50px;
  }
  /*container-search-bar*/
  #search-bar-container {
    display: flex;
    margin-top: 5px;
    margin-bottom: -15px;
  }
  .fa {
    background: #f2f2f2;
    border: 9px solid #f2f2f2;
    border-radius: 15px 0px 0px 15px;
    padding-left: 10px;
    height: 23px;
    width: 20px;
  }
  #search-bar {
    position: relative;
    bottom: 1px;
    border: 1px solid #f2f2f2;
    width: 172px;
    height: 42px;
  }
  /*blue-button-search*/
  #search-bar-text {
    width: 120px;
    height: 40px;
    left: 105px;
    background: #0065fc;
    border: 1px solid #0065fc;
    border-radius: 0px 15px 15px 0px;

    /*text-inside-button*/

    font-family: "Raleway";
    font-style: normal;
    color: white;
    font-weight: 700;
    font-size: 14px;
    line-height: 21px;
    text-align: center;
  }
  #search-bar-text:hover {
    cursor: pointer;
  }
  /*localisation-icon*/

  /*filters-buttons*/
  .filters-section {
    display: flex;
    margin: 20px 0 0 6px;
    margin-left: 30px;
    margin-bottom: 25px;
    margin-top: 50px;
  }
  .filters-column {
    flex-direction: column;
    align-items: flex-start;
  }
  #filter-one {
    width: 160px;
    height: 50px;
  }
  #filter-two {
    width: 140px;
    height: 50px;
  }
  #filter-three {
    width: 160px;
    height: 50px;
  }
  #filter-four {
    width: 220px;
    height: 50px;
  }
  .filters {
    display: flex;
    align-items: center;
    height: 30px;
    padding-right: 5px;
    border: #dfdede 2px solid;
    border-radius: 30px;
    margin-right: 50px;
    cursor: pointer;
    transition: 0.8s;
    width: 230px;
  }
  .filters-section h3 {
    margin: 5px 20px;
    font-size: 18px;
    font-weight: bold;
    margin-top: 15px;
    line-height: 19.96px;
  }

  /*icons filters*/
  .icon {
    height: 50px;
    width: 40px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    color: #0065fc;
  }

  .filters-section p {
    font-size: 17px;
    font-weight: bold;
    display: flex;
    align-items: center;
  }

  /*icon information*/
  #information-section {
    margin-left: 15px;
    margin-bottom: 25px;
  }

  /*classic hebergements + populaires*/
  #all-accomodations-section {
    display: flex;
    justify-content: space-around;
  }
  #first-article-background {
    background: #f2f2f2;
    padding-bottom: 20px;
    padding-top: 10px;
    margin-left: 50px;
  }
  #accomodations-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: auto;
    height: auto;
    padding-bottom: 15px;
    padding-right: 20px;
  }

  .accomodation-border {
    width: 248px;
    height: auto;
    background: white;
    margin-bottom: 40px;
    border-radius: 20px 20px 20px 20px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.062);
    transition: 0.7s;
    padding-bottom: 10px;
  }
  .accomodation-picture {
    object-fit: cover;
    width: 240px;
    height: 120px;
    border-radius: 20px 25px 0 0;
    padding-right: 10px;
    margin: 5px 0 0 5px;
  }

  /*Afficher Plus Boutton*/
  #show-more {
    text-decoration: none;
    color: #000000;
    font-weight: bold;
    position: relative;
    left: 30px;
    bottom: 20px;
  }

  #accomodation-title {
    position: relative;
    left: 35px;
    margin-right: 40px;
    margin-top: 15px;
    font-size: 16px;
  }

  .stars .colorblue {
    color: #0065fc;
    font-size: 80%;
  }

  .stars .colorgrey {
    color: #d6d1d1;
    font-size: 80%;
  }

  /*Hebergements Populaires*/
  #accomodation-popular-border-flex {
    display: flex;
    display: grid;
    padding-left: 20px;
  }
  .accomodation-popular-border {
    border: 2px solid white;
    border-radius: 20px;
    background-color: white;
    height: 144px;
    margin-bottom: 30px;
    display: flex;
    margin-left: 20px;
    margin-right: 20px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.062);
    transition: 0.7s;
    cursor: pointer;
  }
  .accomodation-popular-picture {
    object-fit: cover;
    height: 140px;
    width: 110px;
    border-radius: 20px 0 0 20px;
    padding: 3%;
  }
  #most-popular-accomodations {
    background: #f2f2f2;
    height: 645px;
    border-radius: 20px;
    margin-left: 50px;
    width: 420px;
    margin-right: 50px;
  }

  .title-data-logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 25px;
    margin-bottom: 5px;
    margin-left: 45px;
    width: 340px;
  }

  .accomodation-popular-details {
    margin-bottom: 30px;
    margin-left: 13px;
    line-height: 12px;
    margin-top: 1px;
  }

  .accomodation-popular-details h5 {
    font-size: 15px;
  }
  .accomodation-popular-details p {
    font-size: 14px;
  }

  #activities-container {
    display: flex;
    justify-content: center;
    justify-content: space-between;
    margin-left: 50px;
    margin-right: 50px;
  }
  #marseille-activities h2 {
    margin-bottom: 20px;
    font-size: 16px;
  }

  .picture-activity {
    width: 240px;
    height: 320px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }
  .activity-title {
    margin-left: 10px;
  }
  .activity-border {
    box-shadow: 0px 3px 3px #dcdcdc;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    margin-bottom: 1%;
    transition: 0.7s;
    margin: 10px;
  }

  #bloc-footer {
    display: flex;
    justify-content: center;
    margin-bottom: 5%;
    background: #f2f2f2;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 30px;
  }
  .flex-footer:nth-child(1) {
    margin-left: -300px;
  }
  .flex-footer:nth-child(2) {
    padding-left: 100px;
  }
  .flex-footer:nth-child(3) {
    padding-left: 150px;
  }
  .flex-footer-details {
    margin: 55px;
  }
  .flex-footer-details a {
    font-size: 14px;
  }
}
/* Tablettes Media Queries */

@media screen and (min-width: 768px) and (max-width: 991px) {
  .fa-search {
    visibility: hidden;
  }
  /*top-navigation-buttons*/
  header img {
    width: 50px;
    height: 25px;
    margin-left: 72px;
    margin-top: 65px;
  }

  header {
    display: flex;
    justify-content: space-between;
    margin-top: -34.23px;
  }
  header .nav-flex {
    padding: 36px;
    border-top: solid 1.5px transparent;
  }
  header .nav-flex:hover {
    border-top: solid 1.5px #0065fc;
    color: #0065fc;
  }
  nav {
    display: flex;
    justify-content: flex-end;
    justify-content: space-between;
    margin-top: 15px;
  }

  header nav h3 {
    display: flex;
  }
  form {
    display: flex;
  }
  .cities-search-bar {
    margin-left: 72px;
  }

  /*container-search-bar*/
  #search-bar-container {
    display: flex;
  }

  #search-bar {
    position: relative;
    bottom: 1px;
    border: 1px solid #f2f2f2;
    width: 162px;
    height: 41px;
  }
  .fa {
    background: #f2f2f2;
    border: 9px solid #f2f2f2;
    border-radius: 15px 0px 0px 15px;
    height: 22px;
    width: 18px;
    padding-left: 10px;
    padding-top: 1px;
  }
  /*blue-button-search*/
  #search-bar-text {
    width: 100px;
    height: 35px;
    left: 105px;
    background: #0065fc;
    border: 1px solid #0065fc;
    border-radius: 0px 15px 15px 0px;
    /*text-inside-button*/
    font-family: "Raleway";
    font-style: normal;
    color: #f2f2f2;
    font-weight: 700;
    font-size: 14px;
    line-height: 21px;
    text-align: center;
  }
  #search-bar-text:hover {
    cursor: pointer;
  }

  /*filters-buttons*/
  .filters-section {
    display: flex;
    margin: 20px 0 0 6px;
    margin-left: 60px;
    margin-top: 30px;
    margin-bottom: 20px;
  }

  .filters {
    display: flex;
    align-items: center;
    height: 25px;
    padding-right: 5px;
    border: #dfdede 2px solid;
    border-radius: 30px;
    margin-right: 10px;
    cursor: pointer;
    transition: 0.8s;
  }
  #filter-one {
    width: 120px;
    height: 35px;
  }
  #filter-two {
    width: 100px;
    height: 35px;
  }
  #filter-three {
    width: 120px;
    height: 35px;
  }
  #filter-four {
    width: 160px;
    height: 35px;
  }
  .filters-section h3 {
    margin: 5px 20px;
    font-size: 17px;
    font-weight: bold;
    margin-top: 10px;
  }
  .icon {
    height: 50px;
    width: 30px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    color: #0065fc;
  }
  .filters-section p {
    font-size: 13px;
    font-weight: bold;
    display: flex;
    align-items: center;
    margin-left: 5px;
  }
  #information-section {
    margin-left: 40px;
    margin-top: 5px;
    margin-bottom: 25px;
  }

  /*background hebergements Marseille*/

  /*classic hebergements + populars*/
  #all-accomodations-section {
    display: flex;
    flex-direction: column;
  }
  /* classic + populars hebergement container*/
  .accomodations-articles-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-bottom: 3%;
  }
  #first-article-background {
    background: #f2f2f2;
    padding-bottom: 20px;
    padding-top: 10px;
    border-radius: 20px;
    margin-left: 92px;
    margin-right: 30px;
    width: 720px;
  }
  /* classic hebergement container*/
  #accomodations-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border-radius: 20px;
    padding-bottom: 20px;
    width: 740px;
  }

  .accomodation-border {
    width: 200px;
    height: auto;
    background: white;
    margin-bottom: 40px;
    border-radius: 20px 20px 20px 20px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.062);
    transition: 0.7s;
    padding-bottom: 10px;
    margin: 7px;
  }
  .accomodation-picture {
    object-fit: cover;
    width: 190px;
    height: 100px;
    border-radius: 20px 25px 0 0;
    padding-right: 10px;
    margin: 5px 0 0 5px;
  }

  #accomodation-title {
    position: relative;
    left: 55px;
    top: 10px;
    margin-bottom: 25px;
    font-size: 16px;
  }

  /*Afficher Plus Boutton*/
  #show-more {
    text-decoration: none;
    color: #000000;
    font-weight: bold;
    position: relative;
    margin-bottom: 15px;
    padding-bottom: 15px;
    left: 55px;
  }
  .accomodation-details h5 {
    font-size: 13px;
  }
  .accomodation-details p {
    font-size: 11px;
  }
  .stars .colorblue {
    color: #0065fc;
    font-size: 70%;
  }
  .stars .colorgrey {
    color: #d6d1d1;
    font-size: 70%;
  }
  #most-popular-accomodations {
    background: #f2f2f2;
    border-radius: 20px;
    margin-top: 4%;
    padding-left: 10px;
    padding-right: 10px;
    margin-left: 62px;
  }
  #accomodation-popular-border-flex {
    display: flex;
  }
  #most-popular-accomodations h2 {
    font-size: 16px;
    padding-left: 34px;
  }
  .title-data-logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 10px;
  }
  .fa-chart-line {
    margin-right: 20px;
  }

  .accomodation-popular-border {
    border: 2px solid white;
    border-radius: 20px;
    background-color: white;
    height: 115px;
    width: 200px;
    margin-bottom: 30px;
    margin: 15px;
    display: flex;
    justify-content: space-between;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.062);
    transition: 0.7s;
  }

  .accomodation-popular-picture {
    object-fit: cover;
    height: 110px;
    width: 70px;
    border-radius: 20px 0 0 20px;
    padding: 3%;
  }
  .accomodation-popular-border {
    cursor: pointer;
    margin-bottom: 30px;
  }

  .accomodation-popular-details {
    margin-bottom: 20px;
    margin-left: 11px;
  }
  .accomodation-popular-details h5 {
    font-size: 13px;
    margin-top: 12px;
  }
  .accomodation-popular-details p {
    font-size: 11.5px;
  }
  #first-part-stars {
    position: relative;
    bottom: 20px;
  }
  #second-part-stars {
    position: relative;
    bottom: 20px;
  }
  #third-part-stars {
    position: relative;
    bottom: 20px;
  }
  .stars-popular-accomodations .colorblue {
    font-size: 90%;
  }
  #marseille-activities h2 {
    position: relative;
    left: 65px;
    font-size: 16px;
  }
  #activities-container {
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-around;
    margin-left: 72px;
  }
  .picture-activity {
    object-fit: cover;
    width: 150px;
    height: 200px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }
  .activity-title {
    margin-left: 5px;
    font-size: 8px;
  }
  .activity-border {
    box-shadow: 0px 3px 3px #dcdcdc;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    transition: 0.7s;
    width: 160px;
    margin: 20px;
  }

  #bloc-footer {
    display: flex;
    justify-content: center;
    background: #f2f2f2;
    margin-left: 72px;
    margin-top: 50px;
  }
  .flex-footer {
    margin: 20px;
  }
  .flex-footer:nth-child(1) {
    padding-right: 0px;
  }
  .flex-footer:nth-child(2) {
    padding-right: 40px;
  }
  .flex-footer:nth-child(3) {
    padding-right: 50px;
  }
  .flex-footer-details {
    margin: 20px;
  }
  .flex-footer-details a {
    font-size: 13px;
  }
}

/* Mobiles Media Queries */

@media screen and (max-width: 767px) {
  /*top-navigation-buttons*/
  header img {
    width: 80px;
    height: 25px;
    justify-content: center;
    margin-top: 55px;
    text-align: center;
  }

  header {
    margin-top: -25px;
    text-align: center;
  }

  header .nav-flex {
    border-bottom: solid 3px #f2f2f2;
  }

  header nav h3:nth-child(1):hover {
    border-bottom: solid 3px #0065fc;
  }
  header nav h3:nth-child(2):hover {
    border-bottom: solid 3px #0065fc;
  }
  header nav h3 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    display: inline-block;
    width: 230px;
  }

  nav {
    margin-top: 15px;
    display: flex;
  }

  /*container-search-bar*/
  #search-bar-container {
    display: flex;
    margin-top: 30px;
    margin-left: -0.2%;
    justify-content: center;
    margin-right: 30px;
  }
  #search-bar {
    width: 220px;
    height: 54px;
    bottom: 4px;
    border: 0.3px solid #f2f2f2;
  }
  .fa {
    background: #f2f2f2;
    border: 9px solid #f2f2f2;
    border-radius: 15px 0px 0px 15px;
    height: 27px;
    width: 20px;
    padding-top: 10px;
    padding-left: 8px;
  }
  #search-bar-container form {
    display: flex;
    margin-top: 1px;
    margin-left: -0.2%;
  }
  .cities-search-bar {
    margin-left: 25px;
  }
  .cities-search-bar h2 {
    font-size: 17px;
  }
  .cities-search-bar p {
    font-size: 13px;
  }
  #search-bar-text {
    display: none;
  }
  .fa-search {
    color: #f2f2f2;
    background-color: #0065fc;
    padding-top: 18px;
    padding-left: 10px;
    width: 30px;
    height: 36px;
    border-radius: 0px 15px 15px 0px;
    position: relative;
  }
  .fa-search:hover {
    cursor: pointer;
  }
  /*blue-button-search*/
  #search-bar-text {
    display: none;
  }

  /*localisation-icon*/

  /*filters-buttons*/
  .filters-section {
    flex-direction: column;
    margin: 20px 0 0 6px;
    margin-left: 3%;
    margin-top: 40px;
  }
  .filters-section h3 {
    position: relative;
    left: 10px;
    font-size: 15px;
    margin-bottom: 20px;
    margin-bottom: 20px;
  }

  .filters {
    display: flex;
    align-items: center;
    height: 35px;
    width: 145px;
    padding-right: 5px;
    border: #dfdede 2px solid;
    border-radius: 30px;
    margin-right: 10px;
    cursor: pointer;
    transition: 0.8s;
    margin: 2%;
  }

  .icon {
    height: 50px;
    width: 25px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    color: #0065fc;
    margin-left: 2px;
  }

  .filters-section p {
    font-size: 11px;
    font-weight: bold;
    display: flex;
    align-items: center;
    margin-left: 5px;
  }
  #information-section {
    margin-top: 20px;
    margin-right: 10px;
    position: relative;
    right: 15px;
  }
  #first-article-background {
    background: white;
  }
  #accomodations-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: white;
  }
  #all-accomodations-section {
    display: flex;
    flex-direction: column;
    flex-direction: column-reverse;
  }

  #show-more {
    display: none;
  }

  #accomodation-title {
    font-size: 19px;
    position: relative;
    left: 30px;
    margin-top: 80px;
  }
  .accomodation-border {
    width: 340px;
    height: 260px;
    background: white;
    border-radius: 20px 20px 20px 20px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.062);
    transition: 0.7s;
    padding-bottom: 10px;
    margin-bottom: 20px;
  }
  .accomodation-picture {
    width: 330px;
    height: 150px;
    border-radius: 20px 20px 0px 0px;
  }
  .accomodation-details {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-direction: column;
    margin-bottom: 60px;
    border-radius: 20px;
    background: #ffffff;
    padding: 5px;
  }
  .accomodation-details h5 {
    font-size: 17px;
  }
  .accomodation-details p {
    font-size: 12px;
  }
  .stars .colorblue {
    color: #0065fc;
    font-size: 70%;
  }
  .stars .colorgrey {
    color: #d6d1d1;
    font-size: 70%;
  }
  .stars .colorblue {
    color: #0065fc;
    font-size: 80%;
  }

  .stars .colorgrey {
    color: #d6d1d1;
    font-size: 80%;
  }
  #most-popular-accomodations {
    background: #f2f2f2;
    border-radius: 20px;
    padding-top: 5%;
    padding-bottom: 5%;
    margin-top: 4%;
  }
  #accomodation-popular-border-flex {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  #most-popular-accomodations h2 {
    font-size: 16px;
  }
  .title-data-logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 10px;
  }
  .title-data-logo :nth-child(1) {
    position: relative;
    left: 15px;
  }
  .title-data-logo :nth-child(2) {
    position: relative;
    right: 10px;
  }

  .accomodation-popular-picture {
    object-fit: cover;
    height: 120px;
    width: 140px;
    border-radius: 20px 0 0 20px;
    padding: 3%;
  }

  .accomodation-popular-border {
    border: 2px solid white;
    border-radius: 20px;
    background-color: white;
    height: 125px;
    width: 330px;
    margin-bottom: 30px;
    margin: 8px;
    display: flex;
    justify-content: space-between;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.062);
    transition: 0.7s;
  }

  .accomodation-popular-border {
    cursor: pointer;
  }

  .accomodation-popular-details {
    margin-right: 15px;
    margin-left: 20px;
    justify-content: center;
    align-items: center;
  }

  .accomodation-popular-details h5 {
    font-size: 17px;
    margin-top: 12px;
  }
  .accomodation-popular-details p {
    font-size: 12.5px;
  }
  .stars-popular-accomodations {
    position: relative;
    bottom: 20px;
  }
  .stars-popular-accomodations .colorblue {
    font-size: 12px;
  }
  .stars-popular-accomodations .colorgrey {
    font-size: 12px;
  }
  #third-part-stars {
    position: relative;
    top: 3px;
  }
  #activities-container {
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;
  }
  #marseille-activities h2 {
    position: relative;
    left: 25px;
    font-size: 19px;
    width: 50%;
  }
  .picture-activity {
    width: 330px;
    height: 160px;
    object-fit: cover;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    align-items: center;
    justify-content: center;
  }

  .activity-border {
    box-shadow: 0px 3px 3px #dcdcdc;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    width: 330px;
  }
  .activity-title {
    position: relative;
    left: 20px;
  }
  #bloc-footer {
    display: flex;
    justify-content: center;
    flex-direction: column;
    background: #f2f2f2;
    width: 100%;
    position: relative;
    align-items: flex-start;
    margin-top: 50px;
  }

  .flex-footer {
    align-items: flex-start;
  }

  .flex-footer-details {
    margin: 5px;
    margin-left: 30px;
    margin-bottom: 5%;
  }
  .flex-footer-details a {
    position: relative;
    font-size: 13px;
    top: -12px;
  }
}
